/*  ===============
    Imports
    =============== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&display=swap');

/*  ===============
    Global Settings
    =============== */

body {
    background-color: rgba(49, 49, 49,1);
    margin: 20px;
    font-size: 1.25rem;
    font-family: "Montserrat", "Arial", sans-serif;
}

/*  ===============
    Layout
    =============== */

.container {
    background-color: aliceblue;
    width: clamp(45ch,50%, 65ch);
    padding: 10px;
}

/*  ===============
    Components
    =============== */

.emote {
    width: 2ch;
}