/*===============
  Imports
  =============== */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&display=swap');

/*===============
  Global Settings
  =============== */
  
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    margin: 20px;
}

/*===============
  Typography
  =============== */

body,
input, 
textarea, 
button {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.youtube-news {
  font-size:14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
  margin-bottom: 16px;
  line-height: 21px;
}

.yt-title {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 2px;
}

.yt-metadata,
.author {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 16px;
}

.summary {
  margin-top: 0px;
}

.all-caps {
  text-transform: uppercase;
}

.proper-caps {
  text-transform: capitalize;
}

.underline:hover {
  text-decoration: underline;
  transition: text-decoration 3s;
  cursor: pointer;
}

.announcement {
  font-size: 1rem;
  font-weight: 400;
}

/*===============
  Layouts
  =============== */

body {
  display: flex;
  flex-direction: column;
}

.youtube-news {
  width: 35ch;
}

.announcement {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(227, 65, 64);
  padding: 1rem;
  margin-top: 1rem;
}

/*===============
  Components
  =============== */

img {
  width: 30px;
}

button{
  text-align: center;
  margin: 15px;
  cursor: pointer;
  border: none;
}

button:hover,
button:active {
  transition: .3s;
}

.subscribe-button {
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  background-color: rgb(204, 0, 0); 
  border-radius: 5px;
} 

.subscribe-button:hover {
  background-color: rgb(219, 77, 77);
}

.subscribe-button:active {
  background-color: rgb(235,153,153);
}

.join-button {
  color: rgb(6, 95, 212);
  font-weight: 500;
  letter-spacing: -1px;
  padding: 1rem 1.5rem;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(6, 95, 212);
  border-width: 2px;
  border-radius: 4px;
}

.join-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
}

.join-button:active {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 143, 225);
  border-color: rgb(81, 143, 225) !important;
}

.tweet-button {
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 1rem 1.5rem;
  background-color: rgb(29, 155, 240);
  border-radius: 36px;
}

.tweet-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tweet-button:active {
  background-color: rgb(97, 185, 245);
}
