/*===============
  Imports
  =============== */


/*===============
  Global Settings
  =============== */
* {
  
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  border: none;
}

/*===============
  Typography
  =============== */
  
.name,
.tag {
  font-family: Tahoma;
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
}

/*===============
  Layouts
  =============== */
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(214, 226, 240);
}

/*.focus {

}*/

.sidebar {
  width: 30vh;
  margin: auto;
}


.portal {
  width: 80%;
  margin: 10% 0px 0px;
  display: grid;
  place-items: center;
}

.avatar {
  width:100%;
  margin: 0px;
  padding: 0px;
}

.keyboard {
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.piano-key-1,
.piano-key-2,
.piano-key-3,
.piano-key-4,
.piano-key-5 {
  width: 20%;
  max-height: 3rem;
  padding: 0px;
  color:aliceblue;
  text-align: center;
  padding: 1rem 0;
  cursor:pointer;
}

.piano-key-1 {
  background-color: rgba(215, 0, 113);
  z-index: 1;
}

.piano-key-2 {
  background-color: rgba(163, 0, 125);
  z-index: 1;
}

.piano-key-3 {
  z-index: 1;
  background-color: rgba(100, 0, 141);
}

.piano-key-4 {
  background-color: rgba(39, 31, 153);
  z-index: 1;
}

.piano-key-5 {

  background-color: rgba(0, 53, 169);
  z-index: 1;
}

.piano-key-1:hover,
.piano-key-2:hover,
.piano-key-3:hover,
.piano-key-4:hover,
.piano-key-5:hover {
  z-index: 1;
  transition: .2s;
  opacity: .7;
}

.piano-key-1:active {
  background-color: rgba(215, 0, 113,.4);
  transition: .2s;
  z-index: 0;
  transform: translate(5px, 5px);
  box-shadow: -5px -5px rgba(0,0,0,1);
}

.piano-key-2:active {
  background-color: rgba(162, 0, 124,.4);
  transition: .2s;
  z-index: 0;
  transform: translate(5px, 5px);
  box-shadow: -5px -5px black;
}

.piano-key-3:active {
  background-color: rgba(100, 0, 141,.4);
  transition: .2s;
  z-index: 0;
  transform: translate(5px, 5px);
  box-shadow: -5px -5px black;
}

.piano-key-4:active {
  background-color: rgba(39, 31, 153,.4);
  transition: .2s;
  z-index: 0;
  transform: translate(5px, 5px);
  box-shadow: -5px -5px black;
}

.piano-key-5:active {
  background-color: rgba(0, 53, 169,.4);
  transition: .2s;
  z-index: 0;
  transform: translate(5px, 5px);
  box-shadow: -5px -5px black;
}


.card {
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  box-shadow: .825rem 1rem .125rem;
}

.info-box {
  margin: .5rem 0 1rem;
  width: 80%;
}

/*===============
  Components
  =============== */