/*===============
  Imports
  =============== */


/*===============
  Global Settings
  =============== */
* {
  
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  border: none;
}

/*===============
  Typography
  =============== */
  
.name,
.tag {
  font-family: Tahoma;
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
}

/*===============
  Layouts
  =============== */
body {
  display: grid;
  background-color: rgb(214, 226, 240);
}

/*.focus {

}*/

.sidebar {
  width: 150px;
}

.portal {
  width: 25vh;
  border-radius: 20%;
  box-shadow: 
    -15px 5px 20px rgb(215, 0, 113),
    -5px 5px 20px rgb(162, 0, 124),
    -0px 5px 20px rgb(100, 0, 141),
    5px 5px 20px rgb(39, 31, 153),
    15px 5px 20px rgb(0, 53, 169);
}

.card {
  
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  width: 288px;
  margin: auto;
}

.qr-code {
  border-radius: 25px;
  width: 288px;
  padding: 16px;
}

.copy {
  text-align: center;
  size: .875rem;
  padding:0px 16px 0px;
  color: rgb(31, 50, 81);
}

.instructions {
  size: .5rem;
  color:rgb(123, 135, 157);
}

.attribution {
  color: rgb(123, 135, 157);
}

/*===============
  Components
  =============== */