/*========
Imports
========*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*========
Globals
========*/

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  border-color: rgba(0, 0, 0, .2);
  border: none;
  font-size: 1.125rem;
}

body {
  background-color: hsl(217, 54%, 11%);
}

/*========
Typography
========*/

.body {
  
}

.attribution {
  font-size: .825rem;
  text-align: center;
  background-color: hsl(216, 50%, 16%);
}

.attribution > a {
  color: hsl(178, 100%, 50%);
}

.white-text {
  color: hsl(0, 0%, 100%);
}

.softblue-text {
  color: hsl(215, 51%, 70%);
}

.cyan-text {
  color: hsl(178, 100%, 50%);
}

/*========
Layouts
========*/

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.row > * {
  width: max-content;
  border: dotted;
  border-color: aqua;
}

.attribution {
  place-self: end center;
  margin: 20px;
  padding: .5rem 1.5rem;
  border-radius: 10px;
}

.attribution > * {
  width: max-content;
}

.attribution > a {
  margin-left: .2rem;
}

.artist-details {
  place-items: left;
}

.artist-details > * {
  width:max-content;
}


/*========
Components
========*/



.card {
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  position: relative;
  place-self: end center;
  max-width: min(85%, 450px);
}

.icon {
  height:100%;
}

.noodlefucker-tech,
.focus {
  border-radius: 10px;
  max-width: 85%;
  margin: 7.5%;
}

.bid-details {
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid hsl(215, 32%, 27%);
}

.eth-cost,
.time-left {
  padding: 0 .5rem;
}

.artist-avatar {
  max-width: 2rem;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: .25px;
  border-color: hsl(0, 0%, 100%);
}

